<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Deposit Transaction</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Transaction</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/view-transaction"
                >View list</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 20px">
    <div style="background-color: white; padding: 1%; padding-bottom: 4%">
      <div
        *ngIf="isDisconnected == true"
        class="alert alert-light"
        style="height: 1%"
      >
        <!--connection status starts here-->
        <label text-wrap
          ><i class="fa fa-wifi" aria-hidden="true"></i>Please check your
          connection and try again
          <button class="btn btn-primary" (click)="Reload()">
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
          </button></label
        >
      </div>
      <div *ngIf="isValid == false">
        <div class="btn btn-danger">
          <i class="fa fa-exclamation-triangle"></i> Please fill required Fields
        </div>
      </div>

      <form
        #form="ngForm"
        *ngIf="service.TransactionForm"
        (submit)="onSubmit(form)"
        autocomplete="off"
      >
        <input
          hidden
          style="background-color: white"
          name="AccountTransactionId"
          #AccountTransactionId="ngModel"
          [(ngModel)]="service.TransactionForm.AccountTransactionId"
          class="form-control"
        />
        <input
          hidden
          style="background-color: white"
          name="MemberId"
          #MemberId="ngModel"
          [(ngModel)]="service.TransactionForm.MemberId"
          class="form-control"
        />
        <input
          hidden
          style="background-color: white"
          name="MemberShareId"
          #MemberShareId="ngModel"
          [(ngModel)]="service.TransactionForm.MemberShareId"
          class="form-control"
        />
        <div class="row">
          <div class="col-sm-4">
            <label>Member No<strong style="color: red">*</strong></label>
            <div class="input-group">
              <select
                class="form-control"
                name="MemberNo"
                #MemberNo="ngModel"
                style="background-color: white"
                [(ngModel)]="service.TransactionForm.MemberNo"
                (change)="updateMemberDetails($event.target)"
                [class.is-invalid]="
                  !isValid && service.TransactionForm.MemberNo == 0
                "
              >
                <option value="0">-Select</option>
                <option
                  *ngFor="let items of MemberList"
                  value="{{ items.MemberId }}"
                >
                  {{ items.MemberNo }}
                </option>
              </select>
              <!--div class="input-group-append">
      <button type="button" class="btn btn-danger"  (click)="openForSeachMember(null)">
          <i class="fa fa-search"></i>
      </button>
  </div-->
            </div>
          </div>
          <div class="col-sm-4" hidden>
            <label>MemberId</label>
            <input
              type="text"
              style="background-color: white"
              class="form-control"
              [(ngModel)]="service.TransactionForm.MemberId"
              name="MemberId"
              #MemberId="ngModel"
            />
          </div>
          <div class="col-sm-4">
            <label>Full Name</label>
            <input
              readonly
              type="text"
              name="FullName"
              [(ngModel)]="FullName"
              class="form-control"
            />
          </div>
          <div class="col-sm-4">
            <!-- <label>IdNo</label>
      <input readonly type="text" name="IdNo" [(ngModel)]="IdNo" class="form-control" >-->
            <label>IdNo</label>
            <div class="input-group">
              <input
                class="form-control"
                name="IdNo"
                #IdNo="ngModel"
                [(ngModel)]="service.TransactionForm.IdNo"
                readonly
              />
              &nbsp;
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="openForSeachMember(null)"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <label>Transaction Date<strong style="color: red">*</strong></label>
            <input
              type="date"
              style="background-color: white"
              data-date=""
              name="TransDate"
              #TransactionDate="ngModel"
              [(ngModel)]="service.TransactionForm.TransDate"
              class="form-control"
            />
          </div>

          <div class="col-sm-4">
            <label>Value Date<strong style="color: red">*</strong></label>
            <input
              type="date"
              style="background-color: white"
              name="ValueDate"
              #ValueDate="ngModel"
              [(ngModel)]="service.TransactionForm.ValueDate"
              class="form-control"
            />
          </div>

          <div class="col-sm-4">
            <label>Document Number</label>
            <input
              class="form-control"
              type="text"
              style="background-color: white"
              name="DocumentNo"
              #DocumentNo="ngModel"
              [(ngModel)]="service.TransactionForm.DocumentNo"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <label>Product<strong style="color: red">*</strong> </label>
            <select
              class="form-select"
              type="text"
              style="background-color: white"
              name="ProductId"
              #ProductId="ngModel"
              [(ngModel)]="service.TransactionForm.ProductId"
              (change)="updateProductDetails($event.target)"
              (change)="GetProduct(service.TransactionForm.ProductId)"
              [class.is-invalid]="
                !isValid && service.TransactionForm.ProductId == 0
              "
            >
              <option value="0">Select</option>
              <option
                *ngFor="let items of Productlist"
                value="{{ items.ProductId }}"
              >
                {{ items.Description }}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>Account Number</label>
            <select
              class="form-control"
              style="background-color: white"
              [(ngModel)]="service.TransactionForm.AccountNumber"
              name="AccountNumber"
              #AccountNumber="ngModel"
              (change)="AccountDetails()"
            >
              <option value="0">-Select</option>
              <option
                *ngFor="let items of MemberShareList"
                value="{{ items.AccountNo }}"
              >
                {{ items.AccountNo }}
              </option>
            </select>
          </div>
          <div class="col-sm-3" hidden>
            <label>Can Be Overdrawn</label>
            <input
              type="text"
              style="background-color: white"
              class="form-control"
              [(ngModel)]="service.TransactionForm.CanBeOverdrawn"
              name="CanBeOverdrawn"
              #CanBeOverdrawn="ngModel"
            />
          </div>
          <div class="col-sm-3">
            <label>Transaction Type<strong style="color: red">*</strong></label>
            <select
              type="text"
              style="background-color: white"
              class="form-control"
              name="TransType"
              #TransType="ngModel"
              [(ngModel)]="service.TransactionForm.TransType"
            >
              <option value="0">-select</option>
              <option value="Cash">Cash</option>
              <option value="Bank">Bank</option>
              <option value="Journal">Journal</option>
              <option value="Transfer">Transfer</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>Withdrawn By</label>
            <input
              type="text"
              style="background-color: white"
              class="form-control"
              [(ngModel)]="service.TransactionForm.PaidBy"
              name="PaidBy"
              #PaidBy="ngModel"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <label>Currency</label>
            <select
              class="form-select"
              style="background-color: white"
              name="CurrencyId"
              #CurrencyId="ngModel"
              [(ngModel)]="service.TransactionForm.CurrencyId"
              (change)="convertCurrency(service.TransactionForm.CurrencyId)"
              (change)="updateCurrencyDetails($event.target)"
              [class.is-invalid]="
                !isValid && service.TransactionForm.CurrencyId == 0
              "
            >
              <option value="0"> Select              
              </option>
              <option
                *ngFor="let items of CurrencyList"
                value="{{ items.CurrencyId }}"
              >
                {{ items.CurrencyName }}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>Currency Symbol </label>
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="service.TransactionForm.CurrencySymbol"
              name="CurrencySymbol"
              #CurrencySymbol="ngModel"
              readonly
            />
          </div>
          <div class="col-sm-3">
            <label>Exchange Rate </label>
            <input
              type="text"
              readonly
              class="form-control"
              name="ExchangeRate"
              class="form-control"
              #ExchangeRate="ngModel"
              [(ngModel)]="service.TransactionForm.ExchangeRate"
            />
          </div>
          <div class="col-sm-3">
            <label>Base Currency </label>
            <input
              readonly
              name="BaseCurrencyId"
              class="form-control"
              #BaseCurrencyId="ngModel"
              [(ngModel)]="service.TransactionForm.BaseCurrencyId"
            />
          </div>
          <div class="col-sm-3" hidden>
            <label>Converted Amount </label>
            <input
              name="ConvertedAmount"
              class="form-control"
              #ConvertedAmount="ngModel"
              [(ngModel)]="service.TransactionForm.ConvertedAmount"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <label>Total Balance Amount </label>
            <input
              type="text"
              name="TotalBalanceAmount"
              #TotalBalanceAmount="ngModel"
              readonly
              class="form-control"
              [(ngModel)]="service.TransactionForm.TotalBalanceAmount"
            />
          </div>
          <div class="col-sm-3">
            <label
              >Amount To Withdraw<strong style="color: red">*</strong></label
            >
            <input
              type="text"
              class="form-control"
              style="background-color: white"
              (keyup)="AmountBalance()"
              [(ngModel)]="service.TransactionForm.Amount"
              name="Amount"
              #Amount="ngModel"
              [class.is-invalid]="
                !isValid && service.TransactionForm.Amount <= 0
              "
            />
          </div>
          <div class="col-sm-3">
            <label>Local Currency Amount </label>
            <input
              type="text"
              class="form-control"
              readonly
              (keyup)="AmountBalance()"
              name="LocalCurrencyAmount"
              #LocalCurrencyAmount="ngModel"
              [(ngModel)]="service.TransactionForm.LocalCurrencyAmount"
            />
          </div>

          <div class="col-sm-3">
            <label>Charge Amount <strong style="color: red">*</strong></label>
            <input
              type="text"
              readonly
              class="form-control"
              (keyup)="AmountBalance()"
              [(ngModel)]="service.TransactionForm.AmountCharge"
              name="AmountCharge "
              #AmountCharge="ngModel"
            />
          </div>
          <div class="col-sm-2" hidden>
            <label
              >Charge Withdrawal <strong style="color: red">*</strong></label
            >
            <input
              type="text"
              readonly
              class="form-control"
              (keyup)="AmountBalance()"
              [(ngModel)]="service.TransactionForm.ChargeWithdrawal"
              name="ChargeWithdrawal "
              #ChargeWithdrawal="ngModel"
            />
          </div>
        </div>
        <br />

        <br />
        <div class="row">
          <div class="col-sm-3">
            <label>Net Amount </label>
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="service.TransactionForm.BalanceAmount"
              name="BalanceAmount"
              #BalanceAmount="ngModel"
            />
          </div>
          <div class="col-sm-3">
            <label>Mode Of Payment<strong style="color: red">*</strong></label>
            <select
              class="form-control"
              style="background-color: white"
              name="ModeOfPaymentID"
              #ModeOfPaymentID="ngModel"
              [(ngModel)]="service.TransactionForm.ModeOfPaymentID"
            >
              <option value="0">Select                
              </option>
              <option
                *ngFor="let items of PayModeList"
                value="{{ items.PaymentModeId }}"
              >
                {{ items.Description }}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label>Remarks</label>
            <input
              type="text"
              class="form-control"
              style="background-color: white"
              name="Description"
              #Description="ngModel"
              [(ngModel)]="service.TransactionForm.Description"
            />
          </div>
          <div class="col-sm-3">
            <label>BranchName</label>
            <select
              type="text"
              style="background-color: white"
              class="form-control"
              [(ngModel)]="BankBranchesList"
              name="Bank"
              #TransType="ngModel"
            >
              <option value="0">-Select</option>
              <option *ngFor="let items of BankBranchesList" value="{{ (items.BranchId) }}">
                {{ items.BankName }}:{{items.AccountNumber}}
                </option>                          
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <input
              type="checkbox"
              name="Commission"
              #Commission="ngModel"
              [(ngModel)]="service.TransactionForm.Commission"
              style="width: 30px; height: 30px"
            />
            &nbsp;<label>Commission/Charges</label>
          </div>
        </div>
        <div class="row" hidden>
          <div class="col-sm-2">
            <input
              type="date"
              class="form-control"
              style="background-color: white"
              name="CreatedOn"
              #CreatedOn="ngModel"
              [(ngModel)]="service.TransactionForm.CreatedOn"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              style="background-color: white"
              name="CreatedBy"
              #CreatedBy="ngModel"
              [(ngModel)]="service.TransactionForm.CreatedBy"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="date"
              class="form-control"
              style="background-color: white"
              name="ModifiedOn"
              #ModifiedOn="ngModel"
              [(ngModel)]="service.TransactionForm.ModifiedOn"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              style="background-color: white"
              name="ModifiedBy"
              #ModifiedBy="ngModel"
              [(ngModel)]="service.TransactionForm.ModifiedBy"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              style="background-color: white"
              name="IsBlocked"
              #IsBlocked="ngModel"
              [(ngModel)]="service.TransactionForm.IsBlocked"
            />
          </div>
        </div>
        <hr />
        <div *ngIf="service.TransactionForm.Commission">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead class="thead-light">
                <th>Charges Name</th>
                <th>Is Percent</th>
                <th>Amount</th>
                <th>Total</th>
                <th>
                  <a
                    style="color: white"
                    class="btn btn-success"
                    style="background-color: green; color: white"
                    (click)="
                      AddorEditCharge(
                        null,
                        service.TransactionForm.AccountTransactionId
                      )
                    "
                    ><i class="fa fa-plus-square"></i>Add charge</a
                  >
                </th>
              </thead>
              <tbody>
                <tr *ngIf="service.TransactionCharges.length == 0">
                  <td style="text-align: center" colspan="5">
                    No Charge/Commission is select for this transaction
                  </td>
                </tr>
                <tr
                  *ngFor="
                    let items of service.TransactionCharges;
                    let i = index
                  "
                >
                  <td>{{ items.ChargesName }}</td>
                  <td>{{ items.IsPercent }}</td>
                  <td>{{ items.Amount }}</td>
                  <td>{{ items.Total }}</td>
                  <td>
                    <a
                      style="color: white"
                      class="btn btn-info btn-sm"
                      (click)="
                        AddorEditCharge(
                          i,
                          service.TransactionForm.AccountTransactionId
                        )
                      "
                      ><i class="fa fa-pen"></i
                    ></a>
                    <a
                      class="btn btn-sm btn-danger text-white ml-1"
                      (click)="
                        onDeleteCharge(
                          items.TransactionChargesId,
                          i,
                          service.TransactionForm.AccountTransactionId
                        )
                      "
                      ><i class="fa fa-trash"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <button type="submit" *ngIf="!loading" class="btn btn-primary">
            <i class="fa fa-database">&nbsp;</i>SUBMIT
          </button>
        </div>
        <div id="sa-success" *ngIf="loading" (click)="successmsg()"></div>

        <!--a  class="btn btn-outline-info btn-sm ml-1" routerLink="/withdrawal-list" ><i class="fa fa-table">&nbsp;</i>View Member Account</a-->
      </form>
    </div>
  </div>
</div>
