<div class="container-fluid">
    <!-- start page title -->
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Grouped Options</h4>
  
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">Group Options</li>
              <li class="breadcrumb-item active">
                <a href="javascript: void(0);" routerLink="/ViewSetupInformation"
                  >View List</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div style="background-color: white; padding: 20px">
      <div style="background-color: white; padding: 1%; padding-bottom: 4%">
        <div
          *ngIf="isDisconnected == true"
          class="alert alert-light"
          style="height: 1%"
        >
          <!--connection status starts here-->
          <label text-wrap
            ><i class="fa fa-wifi" aria-hidden="true"></i>Please check your
            connection and try again
            <button class="btn btn-primary" (click)="Reload()">
              <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
            </button></label
          >
        </div>
        <div class="loader-inner ball-clip-rotate" *ngIf="isValid == false">
          <div style="color: white; background-color: rosybrown; padding: 10px">
            Please fill required field(s)
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <div class="col-sm-12">
              <label>Group Option</label>
              <div class="input-group">
                <input
                  [(ngModel)]="GroupOption"
                  class="form-control"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-sm-12">
              <label>Sub Option</label>
              <div class="input-group">
                <input
                  [(ngModel)]="SubOption"
                  class="form-control"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-sm-12">
              <label>Option Name</label>
              <div class="input-group">
                <input [(ngModel)]="OptionName" class="form-control" readonly/>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-2" style="padding: 10px">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="checkbox" [(ngModel)]="BooleanValue" />
                &nbsp;<label>Yes/No Value</label>
              </div>
            </div>
          </div> 
          <div class="col-md-3" style="padding: 10px">
            <div class="col-sm-6">
              <label>True/False</label>
              <div class="input-group">
                <input class="form-control" [(ngModel)]="IsBoolean" readonly/>               
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding: 10px">
            <div class="col-sm-6">
              <label>Numeric?</label>
              <div class="input-group">
                <input class="form-control" [(ngModel)]="IsNumber" readonly/>               
              </div>
            </div>
          </div>  
          <div class="col-md-3" style="padding: 10px">
            <div class="col-sm-10">
            <label>Number Value</label>
              <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="NumberValue" />
                &nbsp;
              </div>
            </div>
          </div>  
        </div>
        <br />
  
        <div class="row">       
          <div class="col-md-6" style="padding: 10px">
            <div class="col-sm-12">
            <label>Other Value</label>
              <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="TextValue" />
                &nbsp;
              </div>
            </div>
          </div> 
         
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"  *ngIf="!loading"
              (click)="
                onSubmit( GroupOption,SubOption,OptionName,OptionCode, IsBoolean,IsNumber,BooleanValue,NumberValue,TextValue,ModifiedBy,MachineName)"
              class="btn btn-primary"
            >
              <i class="fa fa-database"></i> Submit
              
            </button>
          </div>
          <div id="sa-success" *ngIf="loading" (click)="successmsg()"></div>
        </div>
      </div>
    </div>
  </div>
 
  
