<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Charges List</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Product Settings</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/charges"
                >Add Charge</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 10px">
    <div *ngIf="isNodeLoading">
      <i
        class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        style="color: red"
      ></i>
      <div style="color: red; font-size: 14px" class="animate">
        Please wait...
      </div>
    </div>
    <table
      datatable
      class="table table-bordered"
      *ngIf="this.temp"
      style="font-size: 12px"
    >
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>IsPercent</th>
          <th>Value</th>
          <th>Tariff</th>
          <th>Tariff Amount</th>
          <th>Ignore Low Limit</th>
          <th>Lower Limit</th>
          <th>Upper Limit</th>
          <th style="padding-right: 30px; padding-left: 30px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of chargesList">
          <td>{{ items.Code }}</td>
          <td>{{ items.Description }}</td>
          <td>{{ items.IsPercent }}</td>
          <td>{{ items.Value | number }}</td>
          <td>{{ items.Tariff }}</td>
          <td>{{ items.TariffAmount }}</td>
          <td>{{ items.IgnoreLowLimit }}</td>
          <td>{{ items.LowerLimit | number }}</td>
          <td>{{ items.UpperLimit | number }}</td>
          <td>
            <a
              class="btn btn-light btn-sm"
              style="color: blue"
              (click)="openForEditCharges(items.ChargesId)"
              ><i class="fas fa-pen"></i
            ></a>
            <a
              class="btn btn-light btn-sm ml-1"
              style="color: red"
              (click)="onDeleteCharge(items.ChargesId)"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
