<div class="container-fluid">
    <!-- start page title -->
    <!-- start page title -->
  
    
  
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Loan Disbursement</h4>
  
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">Loan</li>
              <li class="breadcrumb-item active">
                <a
                  href="javascript: void(0);"
                  routerLink="/loan-disbersement-list"
                  >View list</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div style="background-color: white; padding: 20px">
      <div style="background-color: white; padding: 1%; padding-bottom: 4%">
        <div
          *ngIf="isDisconnected == true"
          class="alert alert-light"
          style="height: 1%"
        >
          <!--connection status starts here-->
          <label text-wrap
            ><i class="fa fa-wifi" aria-hidden="true"></i>Please check your
            connection and try again
            <button class="btn btn-primary" (click)="Reload()">
              <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
            </button></label
          >
        </div>
        <div  *ngIf="isValid == false">
          <a  class="btn btn-danger " style="color: white;">
            Please fill required Field
          </a>
        </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
        <div class="col-sm-4">
        <label>Member No.</label>
        <input class="form-control" [(ngModel)]="MemberNo" readonly>
        </div>
        <div class="col-sm-4">
        <label>Full Name</label>
        <input class="form-control" [(ngModel)]="FullName" readonly >
        </div>
        <div class="col-sm-4">
        <label>Id No</label>
        <input class="form-control" [(ngModel)]="IdNo" readonly>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-sm-3">
        <label>Loan Code</label>
        <input class="form-control" [(ngModel)]="LoanCode" readonly>
        </div>
        <div class="col-sm-3">
        <label>Loan Amount</label>
        <div class="input-group">
        <input class="form-control" [(ngModel)]="LoanAmount" readonly>
        </div>
        </div>
        <div class="col-sm-3">
        <label>Loan Purpose</label>
        <select class="form-control" [(ngModel)]="LoanPurposeId" readonly disabled>
      <option value="0">-select</option>
            <option *ngFor="let items of LoanPurposeList" value="{{items.LoanPurposeId}}">{{items.Name}}</option>
        </select>
        </div>
        <div class="col-sm-3">
        <label>Approve Amount</label>
        <div class="input-group">
         
        <input class="form-control" [(ngModel)]="ApproveAmount" readonly>
        </div>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-sm-3">
        <label>Pay mode</label>
        <select class="form-control" [(ngModel)]="PaymodeId" 
        [class.is-invalid]="!isValid && PaymodeId==0">
        <option value="0">-Select</option>
         <option *ngFor="let items of PayModeList" value="{{items.PaymentModeId}}">{{items.Description}}</option>
        </select>
        </div>
        <div class="col-sm-3">
        <label>Bank</label>
        <select class="form-control" [(ngModel)]="BankId" >
        <option value="0">-Select</option>
        <option *ngFor="let items of BankList" value="{{items.BankId}}">{{items.BankName}}</option>
      </select>
        </div>
        <div class="col-sm-3">
        <label>Cheque Type</label>
        <select class="form-control" [(ngModel)]="ChequeType">
        <option value="Manual">Manual</option>
    
        </select>
        </div>
        <div class="col-sm-3">
        <label>Cheque No.</label>
        <input class="form-control" [(ngModel)]="ChequeNo">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
        <label>Repayment charges</label>
        <select class="form-control" [(ngModel)]="RepaymentCharge" (change)="updateBalance($event.target.value)"
        [class.is-invalid]="!isValid && RepaymentCharge==''">
        <option value="">-Select</option>
        <option value="1">From Loan</option>
        <option value="2">Pay Cash</option>
        <option value="3">Repayment Account</option>
        <option value="4">None</option>
        </select>
        </div>
        <div class="col-sm-4">
        <label>Charges Amount</label>
        <div class="input-group">
        <input class="form-control" [(ngModel)]="ChargeAmount" readonly>
        </div>
        </div>
        <div class="col-sm-4">
        <label>Disbursed Amount</label>
        <div class="input-group">
        <input class="form-control" [(ngModel)]="CollectedAmount" readonly>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
        <label>Application Date</label>
        <div style="border:1px solid lightgrey;font-size:12px;border-radius:5px;padding:8px">
        {{ApplicationDate| date: 'd-MMM-y'}}
        </div>
        </div>
         <div class="col-sm-4">
        <label>Disbursement Date</label>
        <div class="input-group">
        <input type="date" class="form-control" [(ngModel)]="DisbursementDate">
        </div>
        </div>
      <div class="col-sm-4" hidden>
        <label>Repayment Amount</label>
        <div class="input-group">
        
        <input class="form-control" [(ngModel)]="RepaymentAmount" readonly>
        </div>
        </div>
    </div>
    </div>
        <div class="col-sm-2">
        <h4 style="text-align:center;color:green">Loan Disbursement</h4>
         <div class="row">
            <div class="col-sm-12">
             <img src="assets/img/F1.jpg"  style="height:100%;width:100%">
              </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-12"> 
            <button (click)="openForEditLoanCharges(null)" class="btn btn-info btn-sm btn-block"><i class="fa fa-table"></i>&nbsp;Loan Charges</button>
            </div>
            </div>
            <br>
            
             <div class="row">
            <div class="col-sm-12">
                     <button routerLink="/loan-Appraisals-list"  class="btn btn-warning btn-sm btn-block"><i class="fa fa-table"></i>&nbsp;Appraised Loans</button>
              </div>
            </div>
            <br>
             <div class="row">
            <div class="col-sm-12">
             <button routerLink="/loan-disbersement-list"  class="btn btn-info btn-sm btn-dark"><i class="fa fa-table"></i>&nbsp;Disbursed Loans</button>
              </div>
            </div>
      </div>
       
    </div>
    <br>
    <div class="row">
    <div class="col-sm-12">
    <button  type="submit" *ngIf="!loading" class="btn btn-block btn-primary" (click)="onSubmit(PaymodeId,BankId,ChequeType,ChequeNo,RepaymentCharge,ChargeAmount,CollectedAmount,RepaymentAmount,DisbursementDate)"><i class="fa fa-plus-circle"></i>Disbursed Loan</button>
    </div>
    <div id="sa-success" *ngIf="loading" (click)="successmsg()"></div>   
    </div>
    <hr>
    </div>
    </div>
</div>
