<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Marital Status</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Member Settings</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/view-marital-status"
                >View list</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 20px">
    <div style="background-color: white; padding: 1%; padding-bottom: 4%">
      <div
        *ngIf="isDisconnected == true"
        class="alert alert-light"
        style="height: 1%"
      >
        <!--connection status starts here-->
        <label text-wrap
          ><i class="fa fa-wifi" aria-hidden="true"></i>Please check your
          connection and try again
          <button class="btn btn-primary" (click)="Reload()">
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
          </button></label
        >
      </div>
      <div class="loader-inner ball-clip-rotate" *ngIf="isValid == false">
        <div style="color: white; background-color: rosybrown; padding: 10px">
          Please fill required Field
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Marital Status</label>
          <input
            class="form-control"
            [(ngModel)]="MaritalStatusName"
            required
            [class.is-invalid]="!isValid && MaritalStatusName == ''"
          />
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            *ngIf="!loading"
            (click)="onSubmit(MaritalStatusName)"
            class="btn btn-primary"
          >
            <i class="fa fa-database"></i> Submit
          </button>
        </div>
        <div id="sa-success" *ngIf="loading" (click)="successmsg()"></div>
      </div>
    </div>
  </div>
</div>
