<div  class="container-fluid">
  
<div *ngIf="isDisconnected==true" class="alert alert-light">
    <!--connection status starts here-->
        <div>
            <label>No Internet Connection</label>
        </div>
        <hr>
        <div class="circle_Connection"><i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-times-circle" class="smallIcon" aria-hidden="true"></i>
        </div>
        <br>
        <label text-wrap>Please check your connection and try again</label>
          <hr>
          <div class="card-text">
              <button class="btn btn-block btn-primary" (click)="Reload()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
          </div> 
    </div>
        
        
        <div class="row" style="margin:2px">
          <div class="col-sm-4">
            <h3 style="color: blue;">Loan Type Charges List</h3> 
          </div>
          <div class="col-sm-4">
            <button type="button" (click)="CreateLoanTypeCharge()" class="btn btn-outline-success" style="float: right;"><i class="fas fa-plus"></i>&nbsp;Create LoanType Charge </button>  
          </div> 
          <div class="col-sm-4">
            <button type="button" (click)="onExit()" class="btn btn-outline-danger" style="float: right;"><i class="fas fa-times"></i> </button>  
          </div> 
        </div>
        <div class="table-responsive">
            <table datatable class="table table  table-bordered" *ngIf="this.temp">
  
                <thead>
                    <tr>
                      <th>Loan Charges List</th>
                      <th>Loan Type</th>
                        <th>Name</th>
                        <th>Is Tariff Based</th>
                        <th>Is Percentage</th>
                        <th>Value</th>
                        <th>Amount</th>                       
                        <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                   
                  <tr *ngFor="let items of LoanTypeChargesList">
                    <td (click)="onView()">{{getLoanChargesListName(items.LoanChargesListId)}}</td>
                    <td (click)="onView()">{{getLoanTypeName(items.LoanTypeId)}}</td>
                        <td (click)="onView()">{{items.Name}}</td>
                        <td (click)="onView()">{{items.IsTariffBased}}</td>
                        <td (click)="onView()">{{items.IsPercentage}}</td>
                        <td (click)="onView()">{{items.Value}}</td>
                        <td (click)="onView()">{{items.Amount}}</td>
                       
                      
                        <td><button (click)="onUpdate(items.LoanTypeChargesId)" class="btn btn-sm btn-outline-info"><i class="fas fa-pen"></i></button>&nbsp;&nbsp; 
                          <button (click)="onDelete(items.LoanTypeChargesId)" class="btn btn-sm btn-outline-warning ml-1"><i class="fas fa-trash"></i></button>
                          </td>
                  </tr>    
          </tbody>
        
         
        </table>

        </div>
</div>
