<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Document Type List</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Member Settings</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/document-type"
                >Add Document Type</a
              >
            </li>
          </ol>
        </div>
      </div>
      <!-- end page title -->
      <div style="background-color: white; padding: 10px">
        <div *ngIf="isNodeLoading">
          <i
            class="bx bx-loader bx-spin font-size-16 align-middle me-2"
            style="color: red"
          ></i>
          <div style="color: red; font-size: 14px" class="animate">
            Please wait...
          </div>
        </div>
        <div class="table-responsive">
          <table
            datatable
            class="table table-bordered"
            *ngIf="this.temp"
            style="font-size: 12px"
          >
            <thead>
              <tr>
                <th style="width: 80%">Documemnt Type Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items of DocumentTypeList">
                <td>{{ items.DocumentTypeName }}</td>
                <td>
                  <a
                    class="btn btn-light btn-sm"
                    style="color: blue"
                    (click)="openForEditDocumentType(items.DocumentTypeId)"
                  >
                    <i class="fas fa-pen"></i
                  ></a>
                  <a
                    class="btn btn-light btn-sm ml-1"
                    style="color: red"
                    (click)="DeleteDocumentType(items.DocumentTypeId)"
                  >
                    <i class="fa fa-trash"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 10px">
    <div *ngIf="isNodeLoading">
      <i
        class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        style="color: red"
      ></i>
      <div style="color: red; font-size: 14px" class="animate">
        Please wait...
      </div>
    </div>
    <div class="table-responsive">
      <table
        datatable
        class="table table-bordered"
        *ngIf="this.temp"
        style="font-size: 12px"
      >
        <thead>
          <tr>
            <th style="width: 80%">Documemnt Type Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of DocumentTypeList">
            <td>{{ items.DocumentTypeName }}</td>
            <td>
              <a
                class="btn btn-light btn-sm"
                style="color: blue"
                (click)="openForEditDocumentType(items.DocumentTypeId)"
              >
                <i class="fas fa-pen"></i
              ></a>
              <a
                class="btn btn-light btn-sm ml-1"
                style="color: red"
                (click)="DeleteDocumentType(items.DocumentTypeId)"
              >
                <i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
