<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Prefixes Settings List</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Main Settings</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/prefix-settings"
                >Create Prefix</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 10px">
    <div *ngIf="isNodeLoading">
      <i
        class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        style="color: red"
      ></i>
      <div style="color: red; font-size: 14px" class="animate">
        Please wait...
      </div>
    </div>
    <table
      datatable
      class="table table-bordered"
      *ngIf="this.temp"
      style="font-size: 12px"
    >
      <thead>
        <tr>
          <th>Prefix Name</th>
          <th>Prefix Text</th>
          <th>System Assisted</th>
          <th>Date Related</th>    
          <th>Use Branch Prefix</th>         
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of prefixesList">
          <td>{{ items.PrefixName }}</td>
          <td>{{ items.PrefixText }}</td>
          <td>{{ items.IsSystemAssisted }}</td>
          <td>{{ items.IsDateRelated }}</td>      
          <td>{{ items.UseBranchPrefix }}</td>         

          <td>
            <a
              style="color: blue"
              class="btn btn-light btn-sm"
              (click)="openForEditPrefix(items.AutoPrefixId)"
            >
              <i class="fas fa-pen"></i></a
            >&nbsp;&nbsp;&nbsp;
            <a
              style="color: red"
              class="btn btn-light btn-sm"
              (click)="OnDeletePrefix(items.AutoPrefixId)"
            >
              <i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
