

    
    <div class="container-fluid">

        <!-- start page title -->
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Structure value</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">Member settings</li>
                            <li class="breadcrumb-item active" (click)="addStructureValue()"><a href="javascript: void(0);">Add structure Value</a></li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <div style="background-color: white;padding: 10px;">

            <div *ngIf="isNodeLoading"> 
                <p> <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" style="color:red;"></i>
                 <span style="color:red;font-size: 14px;" class="animate"> Please wait...</span>
               </p>
              </div>
                    
         <div class="table-responsive ">
            <table datatable class="table table-bordered" *ngIf="this.temp" style="font-size:12px">
          
                <thead>
                    <tr>
                        <th>Structure Name</th>
                        <th>Name</th>
                        <th>Parent Name</th>
                        <th>Is Group</th>
                        <th>Remarks</th>
                        <th>Action</th>
                        <th>Add Child</th>
                     
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let items of StructureValueList">
                <td>{{getStructure(items.StructureId)}}</td>
                <td>{{items.Name}}</td>
               <td> {{getparent(items.ParentId)}}</td>
                <td>{{items.IsGroup}}</td>
                <td>{{items.Remarks}}</td>
                <td><button (click)="onUpdate(items.StructureValueId)" style="color:blue" class="btn btn-sm btn-light"><i class="fas fa-pen"></i></button> &nbsp;&nbsp;
                  <button (click)="onDelete(items.StructureValueId)" style="color:red" class="btn btn-sm btn-light ml-1"><i class="fas fa-trash"></i></button>
                  </td>
                 <td> <button (click)="onAddStructure(items.StructureValueId,items.Name,items.StructureId )" class="btn btn-sm btn-outline-info ml-1"><i class="fa fa-plus-square"></i>Add</button></td>
              </tr>    
          </tbody>
        </table>
        </div>
            </div>
    </div>

      
    
    

