<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Setup Settings List</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Main Settings</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/setup-settings"
                >Create Setup</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 10px">
    <div *ngIf="isNodeLoading">
      <i
        class="bx bx-loader bx-spin font-size-16 align-middle me-2"
        style="color: red"
      ></i>
      <div style="color: red; font-size: 14px" class="animate">
        Please wait...
      </div>
    </div>
    <table
      datatable
      class="table table-bordered"
      *ngIf="this.temp"
      style="font-size: 12px"
    >
      <thead>
        <tr>
          <th>Set Name</th>
          <th>Number Series Name</th>
          <th>Manual</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of setupList">
          <td (click)="openForEdit(items.SetupId)">{{ items.SetName }}</td>
          <td (click)="openForEdit(items.SetupId)">
            {{ getPortName(items.AutoGenNumberId) }}
          </td>
          <td (click)="openForEdit(items.SetupId)">{{ items.IsManual }}</td>
          <td>
            <a
              class="btn btn-light btn-sm"
              style="color: blue"
              (click)="openForEdit(items.SetupId)"
            >
              <i class="fas fa-pen"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
