<div class="container-fluid">
  <!-- start page title -->
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between"
      >
        <h4 class="mb-sm-0 font-size-18">Loan types</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">Loan</li>
            <li class="breadcrumb-item active">
              <a href="javascript: void(0);" routerLink="/loan-type"
                >Create Loan Type</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div style="background-color: white; padding: 10px">
    <div *ngIf="isNodeLoading">
      <div style="color: red; font-size: 14px" class="animate">
        <i
          class="bx bx-loader bx-spin font-size-16 align-middle me-2"
          style="color: red"
        ></i
        >Please wait...
      </div>
    </div>
    <div class="table-responsive">
      <table
        datatable
        class="table table table-bordered"
        *ngIf="this.temp"
        style="font-size: 12px"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Intrest Rate</th>
            <th>Minimum Amount</th>
            <th>Maximum Amount</th>
            <th>Moratorium</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of LoanTypesList">
            <td (click)="onView()">{{ items.Description }}</td>
            <td (click)="onView()">{{ items.LoanTypeId }}</td>
            <td (click)="onView()">
              {{ items.InterestRate }}{{ items.InterestRateFrequency }}
            </td>
            <td class="th-right" (click)="onView()">{{ items.MinAmount | number }}</td>
            <td class="th-right" (click)="onView()">{{ items.MaxAmount | number }}</td>
            <td (click)="onView()">{{ items.Moratorium }}</td>
            <td (click)="onView()">{{ items.Remarks }}</td>

            <td>
              <button
                (click)="onUpdate(items.LoanTypeId)"
                class="btn btn-sm btn-outline-info"
              >
                <i class="fas fa-pen"></i></button
              >&nbsp;&nbsp;
              <button
                (click)="onDelete(items.LoanTypeId)"
                class="btn btn-sm btn-outline-warning ml-1"
              >
                <i class="fas fa-trash"></i></button
              >&nbsp;&nbsp;
              <button
                (click)="onListCharges(items.LoanTypeId)"
                class="btn btn-sm btn-outline-secondary ml-1"
              >
                <i class="fas fa-file-invoice-dollar"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
