<div class="container-fluid">
    <!-- start page title -->
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Holidays List</h4>
  
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">Holiday</li>
              <li class="breadcrumb-item active">
                <a href="javascript: void(0);" routerLink="/Holidays"
                  >Create Holiday</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div style="background-color: white; padding: 10px">
      <div *ngIf="isNodeLoading">
        <i
          class="bx bx-loader bx-spin font-size-16 align-middle me-2"
          style="color: red"
        ></i>
        <div style="color: red; font-size: 14px" class="animate">
          Please wait...
        </div>
      </div>
      <table
        datatable
        class="table table-bordered"
        *ngIf="this.temp"
        style="font-size: 12px"
      >
        <thead>
          <tr>
            <th>Holiday Name</th>
            <th>Holiday Date</th>
            <th>Span The Years?</th>         
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of holidayList">
            <td>{{ items.HolidayName }}</td>
            <td>{{ items.HolidayDate }}</td>
            <td>{{ items.SpansTheYears }}</td>        
  
            <td>
              <a
                style="color: blue"
                class="btn btn-light btn-sm"
                (click)="openForEdit(items.HolidayId)"
              >
                <i class="fas fa-pen"></i></a
              >&nbsp;&nbsp;&nbsp;
              <a
                style="color: red"
                class="btn btn-light btn-sm"
                (click)="OnDelete(items.HolidayId)"
              >
                <i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  